# ---------------------------------------------------
# SIMD NanoRing .gitignore
# ---------------------------------------------------

# 1. Market Data & Logs (Crucial)
*.bin
*.gz
*.pcap
wget-log*

# 2. CMake Build Directory
/build/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# 3. Compiled Executables
simd_nanoring
generate_mock_data

# 4. IDE / OS Files
.vscode/
.idea/
.DS_Store